doi_portal/doi_portal/crossref/schemas/standard-modules/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Stub schema for XLink namespace.
    Used as a local fallback for Crossref schema validation.
    Part of Crossref 5.4.0 XSD bundling for DOI Portal.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.w3.org/1999/xlink">
    <xsd:attribute name="type" type="xsd:string"/>
    <xsd:attribute name="href" type="xsd:anyURI"/>
    <xsd:attribute name="role" type="xsd:anyURI"/>
    <xsd:attribute name="arcrole" type="xsd:anyURI"/>
    <xsd:attribute name="title" type="xsd:string"/>
    <xsd:attribute name="show" type="xsd:string"/>
    <xsd:attribute name="actuate" type="xsd:string"/>
    <xsd:attribute name="label" type="xsd:NCName"/>
    <xsd:attribute name="from" type="xsd:NCName"/>
    <xsd:attribute name="to" type="xsd:NCName"/>
</xsd:schema>
